<html>
<head>
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="./main.js"></script>
</head>
<body>
  <div class="layout">
  	<%- galleryHtml %>
  </div>
  <footer class="footer">
  	<p>CopyRight ©2017 Powered by <a href="https://github.com/YannisYao/zing-gallery" target="_blank">Yannis-gallery</a></p>
  </footer>
</body>
</html>
